---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';

const experiences = await getCollection('experiences')
---

<Layout title="Seth Whitehorn">
	<main>
		<h1 class="font-bold">Experience</h1>
		<p class="opening-block">
			Things that I've done
		</p>
		<ul role="list" class="link-card-grid">
            {experiences.map(async e => {
                const {Content, headings} = await e.render()
                return (
                    <Card title='Rebellion Defense'>
                    <Content />
                        </Card>
                )
            }
                
            )}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.opening-block {
		line-height: 1.6;
		margin: 1rem 0;
		padding: 1rem 0;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
