---
interface Props {
	title: string;
	link: string;
	dates: string;
}

const { title, link, dates } = Astro.props;
---

<li>
	<div class="experience-block">
		<a class="font-bold my-1 underline" href={link}>
			{title}
		</a>
		<slot/>
		<span class="font-light italic text-sm text-stone-500 dark:text-stone-100">{dates}</span>
	</div>
</li>
<style>
	.experience-block {
		width: 100%
	}
</style>