---
import { Icon } from "astro-icon"
---
<div>
    <footer>
        <div class="wrapper">
            <a href="https://github.com/SWhitehorn/" >
                <Icon name="mdi:github" class="icon"/>
            </a>
            <a href="https://linkedin.com/in/seth-whitehorn" >
                <Icon name="mdi:linkedin" class="icon"/>
            </a>
        </div>
    </footer>
</div>
<style>
    .icon {
        width: 2rem;
    }
    .wrapper {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding: 1rem 0;
    }
</style>