---
interface Props {
	title: string;
	link: string;
    tags: string[];
}

const { title, link, tags } = Astro.props;
---

<li>
	<div class="experience-block">
		<a class="font-bold my-1 underline" href={link}>
			{title}
		</a>
		<slot/>
        {tags.map((t, i) => <span class="font-light italic text-sm text-stone-500">{t}{i === tags.length-1 ? "" : ", " }</span>)}
	</div>
</li>
<style>
	.experience-block {
		width: 100%
	}
</style>